
.oferta-wrapper {
  text-align: center;
  p {
    text-align: center;
  }
  .oferta-valor {
    color: #ff733b;
    text-align: center;
    font-size: x-large;
  }
  .oferta-porcentaje {
    font-weight: bold;
    font-size: x-large;
  }
  .oferta-servicios {
    font-size: x-large;
  }
}
.vas-info-wrapper {
  display: flex;
  align-items: center;
  p {
    margin-bottom: 0;
  }
}
.footer-style-twelve {
  background-color: #2c3424 !important;
}
.diseno-img-wrapper {
  max-height: 766px;
}
.title-style-five {
  padding-top: 50px;
}
.nuestro-objetivo-wrapper {
  .objetivo-img {
    width: 100%;
    border-radius: 6px;
  }
}
.service-title {
  text-align: center;
  margin-bottom: 100px;
}
.align-right-class {
  text-align: right;
}
.align-center-class {
  text-align: center;
}
.feedback_slider_eleven {
  p {
    font-size: large;
  }
}
.img-wrapper {
  position: relative;
  display: inline-block;
}
.servicios-img {
  width: 100%;
  height: auto;
}
.administracion-sub-img {
  position: absolute;
  max-width: 50%;
  border: 3px solid white;
  top: 25%;
  left: -10%;
}
.administracion-text-wrapper {
  max-width: 480px;
  margin-right: 3rem;
}
.huesped-sub-img {
  position: absolute;
  max-width: 50%;
  border: 3px solid white;
  top: 15%;
  left: 63%;
}
.huesped-text-wrapper {
  max-width: 480px;
  margin-left: 3rem;
    @media (max-width: 800px) {
    margin-left: 0;
  }

}
.email-link {
  text-decoration: none;
  background: linear-gradient(to bottom, transparent 90%, #ff3366 90%);
  background-repeat: no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s;
}

.email-link:hover {
  background-size: 100% 100%;
  /* Optional: Add a custom SVG mask for a literal squiggle */
}
.theme-main-menu {
  background: white !important;
}
.background-video-bg {
  background-color: #2c3424;
  color: #fff;
  max-width: 100%;
  position: relative;
  width: 100vw;
  height: auto;
  overflow: hidden;
  margin-bottom: -10px;
  z-index: 1;
  video {
    margin-bottom: -10px;
    z-index: 99;
    object-fit: cover;
    width: auto;
    min-width: 100%;
    height: 100%;
  }
  img {
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    top: 40%;
    z-index: -1;
  }
}
.home-main-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;

  /* MOBILE: STACK ELEMENTS */
  @media (max-width: 1200px) {
    flex-direction: column;
    text-align: center;
  }

  /* LEFT SIDE */
  > div:first-child {
    flex: 1;

    @media (max-width: 1200px) {
      width: 100%;
    }
  }

  /* RIGHT SIDE (IMAGE CONTAINER) */
  > div:last-child {
    flex: 1;
    display: flex;
    justify-content: center;

    @media (max-width: 1200px) {
      width: 100%;
      margin-top: 40px;
    }

    img {
      width: 100%;
      height: auto;
      max-width: 500px;
      object-fit: cover;

      @media (max-width: 1200px) {
        max-width: 100%;
      }
    }
  }

  .home-main-left-wrapper {
    display: flex;
    align-items: center;
    flex-direction: column;

    p {
      text-align: center;
    }

    .amueblado-text {
      margin: 40px 0;
    }

    .amueblado-contact-wrapper {
      display: flex;
      justify-content: space-between;
      width: 100%;

      @media (max-width: 1200px) {
        flex-direction: column;
        gap: 15px;
        align-items: center;
      }

      a {
        border: 1px solid black;
        border-radius: 30px;
        padding: 5px 25px;
        margin: 0 10px;
        color: black;
        max-width: 210px;
        text-align: center;
        transition: 0.2s ease;

        @media (max-width: 1200px) {
          width: 80%;
          margin: 0;
        }

        &:hover {
          background-color: #2c3424;
          color: white;
        }
      }
    }
  }
}
.home-property-container {
  display: flex;
  flex-direction: column;
  height: 100%;          /* ensures equal height inside card */
}

.home-property-container img {
  width: 100%;
  object-fit: cover;
}

.home-property-container .text-meta {
  display: flex;
  flex-direction: column;
  flex: 1;               /* THIS makes text-meta fill remaining height */
}

.home-property-container .text-meta .arrow-property-wrapper {
  margin-top: auto;      /* pushes the arrow to bottom */
}

