@import "slick-carousel/slick/slick.css";
// @import "slick-carousel/slick/slick-theme.css";

@import "~bootstrap/scss/bootstrap";

// now import main.scss from the scss folder
@import "./scss/main.scss";
